//Blog page media queries
// Desktop
@media (max-width: 1235px) {
    .flexBlog__left {
        .sidebar {
            padding-left: 10px;
            padding-right:10px;

            h3 {
                font-size: 2.5rem;
            }

            p, li {
                font-size: 1.8rem;
            }
        }
    }
}

//Small desktop
@media (max-width: 1025px) {
    .flexBlog {
        flex-direction: column;
        align-items: center;
        
        &__left,
        &__right {
            margin: 2%;
            max-width: 90%;
        }

        &__right {
            transform: translateY(-150px);
            
            h2 {
                font-size: 3.5rem;
            }

            .blogPost{

                &__img {
                    width: 100%;
                    background-color: $mauve;
                    text-align: center;
                    position: static;

                    img {
                        box-shadow: none;
                    }

                    h1 {
                        width: 100%;
                        text-align: left;
                        position: absolute;
                        top: -90px;
                        text-shadow: 2px 2px 0px $mauve;
                    }
                }

                &__text {
                    position: static;
                    margin-top: 20px;
                }
            }

            .blogComments,
            .blogForm {
                margin-right: 0;
            }

            .blogForm {
                padding-bottom: 0;
                padding-top: 50px;
            }
        }

        &__left {
            // margin: 0 0 50px 0;

            .sidebar {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                padding: 20px;

                img {
                    display: none;
                }

                &__weather {
                    grid-column: 1 / 2;

                    
                }

                &__posts {
                    grid-column: 2 / 3;
                    
                }

                h3 {
                    margin-top: 0;
                }
            }
        }
    } 
}

//Tablet
@media (max-width: 760px) {    
    .flexBlog {

        &__right {
            transform: translateY(0);
            margin-top: 0;

            .blogPost {
                &__text {
                    padding: 10px;
                }
                
                &__img {
                    h1 {
                        font-size: 5rem;
                        top: -120px;
                    }
    
                    img {
                        display: none;
                    }
                }
            }
        }

        &__left {
            margin: 10px 0 0 0;

            .sidebar {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-gap: 10px;
                padding: 20px;

                &__weather {
                    grid-column: 1 / 3;
                    grid-row: 1 / 2;
                }

                &__posts {
                    grid-column: 1 / 3;
                    grid-row: 2 / 3;
                }
            }
        }
    }

    //Blog Comments section
    .blogComments {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        &__img {
            display: none;
        }
    }

//Blog form section
    .blogForm {
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 50px  50px 200px;

        input[type="text"] {
            grid-row: 1 / 2;
        }

        input[type="email"] {
            grid-row: 2 / 3;
        }
    }
}