.titleBlog {
    text-align: right;
    width: 50%;
}

.flexBlog {
    display: flex;

    &__left{
        width: 33%;
        margin-top: 100px;
        margin-right: 30px;
        
        ul {
            list-style: disc;
            padding-left: 20px;
            color: $black;

            a {
                color: $black;
            }
        }

        .sidebar {
            background-color: $white;
            padding: 0 50px 30px 30px;
            padding-top: 110%;
            position: relative;

            h3:nth-of-type(2) {
                margin-top: 40px;
            }

            img {
            width: 125%;
            position: absolute;
            right: 5%;
            top: -2%;
            }

        }

        h3, 
        p {
            padding: 10px 0;
        }

    }

    &__right {
        width: 66%;
        margin-left: 30px;

        .blogPost {
            background-color: $white;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 70% 200px 100px 100px;

            img {
                position: absolute;
                width: 60vw;
                left: 40px;
                top: -250px;
                box-shadow: -40px 35px 0px 0px $orange;
            }
        }
    }
}

// Comments SECTION -------------------------------
.blogComments {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 120px 3fr;
    grid-template-rows: 80px 2fr 2fr;
    gap: 30px;

    &__title {
        grid-column: span 2;
    }

    &__img {
        padding-left: 30px;
        padding-top:10px;
    }

    &__date {
        font-weight: bold;
    }
}




// FORM SECTION ---------------------
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 200px;
    gap: 50px;
    padding: 100px 0;
    

    input[type="text"],
    input[type="email"] {
        padding-left: 10px;
        border: none;
        background-color: $mauve;
        border-bottom: 2px solid $orange;
    }

    textarea {
        background-color: $mauve;
        border: 2px solid $orange;
    }

    textarea,
    button {
        grid-column: span 2;
        padding: 10px;
    }

    .blogButton {
        text-decoration: none;
        color: white;
        background-color: $purple;
        text-align: center;
        text-transform: uppercase;
        border: 2px solid $purple;
    }

    ::placeholder {
        opacity: 1;
    }
}