.titleContact {
    margin: 0 auto;
    width: 400px;
}

.contactFlex {
    display: flex;
    position: relative;

    .contactInfo {
        display: flex;
        width: 30%;
        flex-direction: column;
        justify-content: center;
        height: calc(50vh - 20px);

        ul {
            display: flex;

            li { 
                padding: 10px;
            }

            i {
                font-size: 2.5rem;

                &:hover{
                    transform: scale(1.2);
                }
            }
            
        }

        address {
            display: flex;
            flex-direction: column;
            font-style: normal;
            padding-top: 30px;
            
            a[href="mailto:info@email.com"] {
                color: $purple;
                font-family: 'Pompiere', cursive;
                text-transform: uppercase;
                font-size: 30px;
            }

            a[href="tel:123-456-7890"] {
                color: black;
            }

        }
    }

    .contactForm {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px;
    box-shadow: -40px 35px 0px 0px $orange;
    position: absolute;
    top: -55%;
    left: 35%;

    &__label {
    display: flex;
    justify-content: space-between;
    width: 100%;

        input {
            width: 48%;
            padding: 10px;
        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        background-color: white;   
        border: none;
        margin-bottom: 40px;
    }

    input[type="text"],
    input[type="email"] {
        border-bottom: 2px solid $orange;

        &:hover,
        &:focus {
            border: 2px solid $orange;
            background-color: rgba(250, 229, 255, 0.5);
        }
    }

    textarea,
    button {
        display: inline;
        width: 100%;
    }

    textarea {
        height: 250px;
        border: 2px solid $orange;
        padding: 10px;
        
        &:hover,
        &:focus {
            border: 2px solid $orange;
            background-color: rgba(250, 229, 255, 0.5);
        }
    }

    button {
        text-decoration: none;
        color: white;
        background-color:$brown;
        text-align: center;
        text-transform: uppercase;
        border: 2px solid $brown;
        padding: 10px;

            &:focus,
            &:hover {
                border: 2px solid $orange;
                background-color: $purple;
            }
        }
    }

    ::placeholder {
        opacity: 1;
    }
}

    








