fieldset {
    padding: 0;
    border: none;
}

.contact .logo {
    text-shadow: 1px 1px 0 $mauve;
}

.contactFlex {
    display: flex; 
    flex-direction: row-reverse;
    align-items: flex-end;
    position: relative;
    bottom: 200px;

    .contactFormFlex {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        position: relative;
        bottom: 40px;

        h1 {
            width: 100%;
        }
    }

    .contactInfo {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 10px;

        ul {
            display: flex;

            li { 
                padding: 10px;
            }

            i {
                font-size: 2.5rem;

                &:hover,
                &:focus{
                    transform: scale(1.2);
                }
            }
            
        }

        address {
            max-width: 300px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-style: normal;
            padding-top: 30px;
            
            a[href="mailto:info@email.com"] {
                color: $purple;
                font-family: 'Pompiere', cursive;
                text-transform: uppercase;
                font-size: 30px;
            }

            a[href="tel:123-456-7890"] {
                color: black;
            }

        }
    }

    // Contact form styles 
    .contactForm {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background-color: white;
    padding: 50px;
    box-shadow: -40px 40px 0px 0px $orange;
    margin-left: 40px;

    &__label {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: space-between;

        input {
            width: 48%;
            padding: 10px;
        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        background-color: white;   
        border: none;
        margin-bottom: 40px;
    }

    input[type="text"],
    input[type="email"] {
        border-bottom: 2px solid $orange;

        &:hover,
        &:focus {
            background-color: rgba(250, 229, 255, 0.5);
        }
    }

    textarea,
    button {
        display: inline;
        width: 100%;
    }

    textarea {
        height: 250px;
        border: 2px solid $orange;
        padding: 10px;
        
        &:hover,
        &:focus {
            background-color: rgba(250, 229, 255, 0.5);
        }
    }

    button {
        text-decoration: none;
        color: white;
        background-color:$brown;
        text-align: center;
        text-transform: uppercase;
        border: 2px solid $brown;
        padding: 10px;

            &:focus,
            &:hover {
                border: 2px solid $orange;
                background-color: $purple;
            }
        }
    }

    ::placeholder {
        opacity: 1;
    }
}
