header.index{
    background-image: url(../assets/headerBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

header.blog{
    background-image: url(../assets/blogHeaderBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
} 

header.contact {
    background-image: url(../assets/contactHeaderBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.topFlex {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu {
    display: flex;
    justify-content: flex-end;

    &__link {
        @include fontSetup(2rem, 700, 1px, 2.9rem, black);
        text-transform: uppercase;
        // background-color: rgba(254, 111, 25, 0.5);
        padding: 10px 20px;

        &:focus-within,
        &:hover {
            background-color: $purple;
            color: white;
        }
    }
}

h1 {
    width: 25%;     
}

.headerImg {
    width: 47vw;
    position: absolute;
    right: 0;
    top: 15vh;
}