header.index{
    background-image: url(../assets/headerBackground.jpg);
    background-size: cover;
    height: 100vh;
}

header.blog{
    background-image: url(../assets/blogHeaderBackground.jpg);
    background-size: cover;
    height: 75vh;
} 

header.contact {
    background-image: url(../assets/contactHeaderBackground.jpg);
    background-size: cover;
    height: 75vh;
}

.topFlex {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu {
    display: flex;
    justify-content: flex-end;

    &__link {
        @include fontSetup(2rem, 700, 1px, 2.9rem, black);
        text-transform: uppercase;
        padding: 10px 20px;
    }

    &__link:hover {
        background-color: $purple;
        color: white;
    }
}

h1 {
    width: 25%;
}

.headerImg {
    width: 50vw;
    position: absolute;
    right: 0;
    top: 100px;
}

