// Breakpoints
$desktop: 1400px;
$laptop: 1024px;
$tablet: 768px;
$phone: 640px;


@media (max-width: $desktop) {

    .index {

        nav {
        background-color: $mauve;
        } 

        h1 {
            text-shadow: 2px 2px 0px $mauve;
        }
    }  
}


@media (max-width: $laptop) {

}

@media (max-width: 905px) {

        .flexgrid__sub {
            justify-content: center;
            text-align: center;
        }

}