// To mitigate some accessibility issues
@media (max-width: 1400px) {
// Main page
    .index {

        nav {
            background-color: $mauve;
        } 

        h1 {
            text-shadow: 2px 2px 0px $mauve;
        }
    }  
}

// Desktop
@media (max-width: 1250px) {


// Contact Page media queries
    .contactFlex {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
            text-shadow: 2px 2px 0px $mauve;
        }

        .contactInfo {
            justify-content: flex-start;
            margin-top: 50px;
        }
    }
}


// Tablet
@media (max-width: 760px) {
//nav menu styles
.index,
.blog,
.contact {

    .topFlex {
        justify-content: flex-start;
        padding-top: 15px;

            .logo {
                font-size: 2.5rem;
            }

            nav {
                background-color: transparent;

            input[type=checkbox],
            i.fa-bars {
                display: inline-block;
            }

            .menu {
                flex-direction: column;
                justify-content: flex-start;
                background-color: $brown;
                height: 100vh;
                width: 30vw;
                position: fixed;
                left: 0;
                top: 0;
                left: -100vh;
                transition: all 0.5s ease;
                z-index: 10;

                a {
                    color: $white;
                    border-bottom: 2px solid $white;
                }
            }

            input[type="checkbox"]:checked + .menu {
                left: 0;
            }

            label[for="toggle"] {
                font-size: 3rem;
                position: fixed;
                cursor: pointer;
                top: 15px;
                right: 15px;
                z-index: 10;
            }

            input[type="checkbox"] {
                visibility: hidden;
            }
        } 
    }
}

// Contact Page media queries
    header.contact {
        height: 95px;
    }

    .contactFlex {
        position: static;
        align-items: center;

        .contactFormFlex {
            position: static;
            align-items: center;
            margin-bottom: 20px;

                h1 {
                    width: auto;
                    margin: 0;
                    font-size: 5rem;
                    text-shadow: none;
                }

                .contactForm {
                flex-direction: column;
                margin-right: 0;

                    input {
                        width: 100%;
                    }
                }
            }

        .contactInfo {
            justify-content: center;
            margin-right: 0px;
            margin-top: 0;
            text-align: center;
            margin-bottom: 20px;


            ul {
                justify-content: center;
            }
        }

        .contactForm {
            box-shadow: none;
            margin-right: 0px;
            margin-left: 0;
        }
    }
}





// @media (max-width: 905px) {

//         .flexgrid__sub {
//             justify-content: center;
//             text-align: center;
//         }

// }


// Phone
@media (max-width: 600px) {}







