html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  text-decoration: none;
  background-color: #4C0341;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

footer {
  line-height: 3.2rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: #882C07;
}

footer a {
  color: white;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
.logo {
  font-family: 'Pompiere', cursive;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.logo {
  font-size: 3.58rem;
  font-weight: 400;
  letter-spacing: 1.1px;
  line-height: 3.6rem;
  color: black;
}

h1 {
  font-size: 11rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 6.4rem;
  color: #4C0341;
}

.pageTitle {
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 9.2rem;
  color: #4C0341;
}

h2 {
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: normal;
  color: #4C0341;
}

h3 {
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: normal;
  color: #4C0341;
}

.sidebar__title {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: normal;
  color: #4C0341;
}

h4 {
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: normal;
  color: #4C0341;
}

.button {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 32px;
  color: white;
}

header.index {
  background-image: url(../assets/headerBackground.jpg);
  background-size: cover;
  height: 100vh;
}

header.blog {
  background-image: url(../assets/blogHeaderBackground.jpg);
  background-size: cover;
  height: 75vh;
}

header.contact {
  background-image: url(../assets/contactHeaderBackground.jpg);
  background-size: cover;
  height: 75vh;
}

.topFlex {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2.9rem;
  color: black;
  text-transform: uppercase;
  padding: 10px 20px;
}

.menu__link:hover {
  background-color: #4C0341;
  color: white;
}

h1 {
  width: 25%;
}

.headerImg {
  width: 50vw;
  position: absolute;
  right: 0;
  top: 100px;
}

.mauveBackground {
  background-color: #FAE5FF;
}

.gallery {
  background-color: #FAE5FF;
}

.gallery__list {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__item {
  width: 30%;
}
