html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  width: auto;
}

i {
  color: #4C0341;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #882C07;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 220px;
  border: 2px solid #882C07;
}

.button:hover,
.button:focus,
.button:focus-within {
  border: 2px solid #FE6F19;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

textarea {
  resize: none;
}

footer {
  text-align: center;
  color: white;
  background-color: #882C07;
}

footer a {
  color: white;
  display: inline;
}

.mauveBackground {
  background-color: #FAE5FF;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
.logo {
  font-family: 'Pompiere', cursive;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

body {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 3.2rem;
  color: black;
}

.logo {
  font-size: 3.58rem;
  font-weight: 400;
  letter-spacing: 1.1px;
  line-height: 3.6rem;
  color: black;
}

h1 {
  font-size: 11rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 6.4rem;
  color: #4C0341;
}

.pageTitle {
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 9.2rem;
  color: #4C0341;
  text-transform: uppercase;
}

h2 {
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: normal;
  color: #4C0341;
}

h3 {
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: normal;
  color: #4C0341;
}

.sidebar__title {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: normal;
  color: #4C0341;
}

h4 {
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: normal;
  color: #4C0341;
}

.button {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 32px;
  color: white;
}

header.index {
  background-image: url(../assets/headerBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

header.blog {
  background-image: url(../assets/blogHeaderBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
}

header.contact {
  background-image: url(../assets/contactHeaderBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.topFlex {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2.9rem;
  color: black;
  text-transform: uppercase;
  padding: 10px 20px;
}

.menu__link:focus-within, .menu__link:hover {
  background-color: #4C0341;
  color: white;
}

h1 {
  width: 25%;
}

.headerImg {
  width: 47vw;
  position: absolute;
  right: 0;
  top: 15vh;
}

.flexSea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vw 0;
}

.flexSea__item {
  text-align: center;
  margin: 15px 0;
}

.flexgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexgrid__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexgrid__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 50px 100px;
  min-height: 250px;
  min-width: 400px;
}

.flexgrid__sub.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flexgrid__sub.bottom p {
  text-align: right;
}

.flexgrid__sub * {
  margin: 15px 0;
}

.flexgrid__img {
  background-size: cover;
  background-position: center;
  position: relative;
}

.flexgrid__img.top {
  background-image: url(../assets/grid1.jpg);
  left: -8%;
  top: -30px;
  -webkit-box-shadow: 30px 30px 0px 0px #FE6F19;
          box-shadow: 30px 30px 0px 0px #FE6F19;
}

.flexgrid__img.bottom {
  background-image: url(../assets/grid2.jpg);
  right: -8%;
  bottom: -30px;
  -webkit-box-shadow: -30px 30px 0px 0px #FE6F19;
          box-shadow: -30px 30px 0px 0px #FE6F19;
}

.flexBottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexicon {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexicon__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.flexicon__item i {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #4C0341;
  border-radius: 50%;
  margin: 20px;
}

.flexicon__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexicon__content {
  min-width: 260px;
  padding: 20px 20px 20px 0;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 75px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular__img {
  width: 25%;
  min-width: 200px;
  padding-right: 30px;
}

.popular__img img {
  -webkit-box-shadow: 28px 28px 0px 0px #FE6F19;
          box-shadow: 28px 28px 0px 0px #FE6F19;
}

.popular__content {
  width: 75%;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular__content * {
  padding-bottom: 20px;
}

.popular__content a {
  margin-top: 20px;
}

.gallery__list {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__item {
  width: 30%;
}

.titleBlog {
  text-align: right;
  width: 50%;
}

.flexBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexBlog__left {
  width: 33%;
  margin-top: 100px;
  margin-right: 30px;
}

.flexBlog__left ul {
  list-style: disc;
  padding-left: 20px;
  color: #0D0D0D;
}

.flexBlog__left ul a {
  color: #0D0D0D;
}

.flexBlog__left .sidebar {
  background-color: #FFFFFF;
  padding: 0 50px 30px 30px;
  padding-top: 110%;
  position: relative;
}

.flexBlog__left .sidebar h3:nth-of-type(2) {
  margin-top: 40px;
}

.flexBlog__left .sidebar img {
  width: 125%;
  position: absolute;
  right: 5%;
  top: -2%;
}

.flexBlog__left h3,
.flexBlog__left p {
  padding: 10px 0;
}

.flexBlog__right {
  width: 66%;
  margin-left: 30px;
}

.flexBlog__right .blogPost {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 70% 200px 100px 100px;
}

.flexBlog__right .blogPost img {
  position: absolute;
  width: 60vw;
  left: 40px;
  top: -250px;
  -webkit-box-shadow: -40px 35px 0px 0px #FE6F19;
          box-shadow: -40px 35px 0px 0px #FE6F19;
}

.blogComments {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 3fr;
      grid-template-columns: 120px 3fr;
  -ms-grid-rows: 80px 2fr 2fr;
      grid-template-rows: 80px 2fr 2fr;
  gap: 30px;
}

.blogComments__title {
  grid-column: span 2;
}

.blogComments__img {
  padding-left: 30px;
  padding-top: 10px;
}

.blogComments__date {
  font-weight: bold;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px 200px;
      grid-template-rows: 50px 200px;
  gap: 50px;
  padding: 100px 0;
}

form input[type="text"],
form input[type="email"] {
  padding-left: 10px;
  border: none;
  background-color: #FAE5FF;
  border-bottom: 2px solid #FE6F19;
}

form textarea {
  background-color: #FAE5FF;
  border: 2px solid #FE6F19;
}

form textarea,
form button {
  grid-column: span 2;
  padding: 10px;
}

form .blogButton {
  text-decoration: none;
  color: white;
  background-color: #4C0341;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #4C0341;
}

form ::-webkit-input-placeholder {
  opacity: 1;
}

form :-ms-input-placeholder {
  opacity: 1;
}

form ::-ms-input-placeholder {
  opacity: 1;
}

form ::placeholder {
  opacity: 1;
}

.titleContact {
  margin: 0 auto;
  width: 400px;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactFlex .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactFlex .contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactFlex .contactInfo ul li {
  padding: 10px;
}

.contactFlex .contactInfo ul i {
  font-size: 2.5rem;
}

.contactFlex .contactInfo address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  padding-top: 30px;
}

.contactFlex .contactInfo address a[href="mailto:info@email.com"] {
  color: #4C0341;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  font-size: 30px;
}

.contactFlex .contactInfo address a[href="tel:123-456-7890"] {
  color: black;
}

.contactFlex .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  padding: 80px;
  -webkit-box-shadow: -40px 35px 0px 0px #FE6F19;
          box-shadow: -40px 35px 0px 0px #FE6F19;
}

.contactFlex .contactForm__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contactFlex .contactForm__label input {
  width: 48%;
  padding: 10px;
}

.contactFlex .contactForm input[type="text"],
.contactFlex .contactForm input[type="email"],
.contactFlex .contactForm textarea {
  background-color: white;
}

.contactFlex .contactForm textarea,
.contactFlex .contactForm button {
  display: inline;
  width: 100%;
}

.contactFlex .contactForm textarea {
  height: 300px;
}

.contactFlex .contactForm button {
  text-decoration: none;
  color: white;
  background-color: #882C07;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #882C07;
}

.contactFlex ::-webkit-input-placeholder {
  opacity: 1;
}

.contactFlex :-ms-input-placeholder {
  opacity: 1;
}

.contactFlex ::-ms-input-placeholder {
  opacity: 1;
}

.contactFlex ::placeholder {
  opacity: 1;
}
